/* You can add global styles to this file, and also import other style files */
.color-blue {
    color: dodgerblue;
}

.button-red {
    background-color: indianred !important;
    border: 1px solid indianred !important;
}

.float-right {
    float: right;
}

.ui-blockui {
    background-image: url(spin.gif);
    background-repeat: no-repeat;
    background-position: center center;
}