<p-toolbar name="menuOptions">
    <div class="ui-toolbar-group-left" [routerLink]="['/']">
        <img src="favicon.ico">
    </div>
    <div class="ui-toolbar-group-left">
        <p-menubar [model]="menuItems"></p-menubar>
    </div>
    <div class="ui-toolbar-group-right" *ngIf="!isUserLoggedIn()">
        <input type="text" pInputText placeholder="Search">
        <button class="button-red" type="button" pButton icon="fa-search" label="Search"></button>
    </div>
</p-toolbar>

<p-messages [value]="message"></p-messages>
<p-growl [value]="notification"></p-growl>
<p-blockUI [blocked]="blocked"></p-blockUI>

<router-outlet></router-outlet>
