<p-dialog [(visible)]="display" width="600" modal="true" responsive="true" (onAfterHide)="onAfterHide($event)" (keyup.enter)="login()"> 
    <header>
        <h1>
            <span class="fa-stack fa-1x">
                <i class="fa fa-circle fa-stack-2x color-blue"></i>
                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>{{'Title.Login' | translate}}
        </h1>
    </header>
    <form class="ui-g" #hf="ngForm">
        <p-messages [value]="message"></p-messages>
        <div class="ui-g-12">
            <input class="ui-g-12" type="text" pInputText placeholder="{{'Placeholder.Email' | translate}}" [(ngModel)]="user.email"
                    name="email" #email="ngModel"                   
                    error (keyup)="email.error = validate(this.user, email.name)" 
                    (focusout)="email.error = validate(this.user, email.name)">
            <div *ngIf="email.error | async" class="ui-message ui-messages-error ui-corner-all">
              <i class="fa fa-close"></i> {{email.error | async}}
            </div>

        </div>
        <div class="ui-g-12">
            <input class="ui-g-12" type="password" pPassword placeholder="{{'Placeholder.Password' | translate}}" [(ngModel)]="user.password"
                    name="password" #password="ngModel"                   
                    error (keyup)="password.error = validate(this.user, password.name)" 
                   (focusout)="password.error = validate(this.user, password.name)">
            <div *ngIf="password.error | async" class="ui-message ui-messages-error ui-corner-all">
              <i class="fa fa-close"></i> {{password.error | async}}
            </div>

        </div>
        <div class="ui-g-12">
            <button class="ui-g-12" type="button" pButton [disabled]="validationErrors.length > 0" (click)="login()" label="{{'Label.Login' | translate}}"></button>
            <span class="float-right">
                <a class="nav-link" [routerLink]="['/account/register']"><h4>Register</h4></a>
            </span>
        </div>        
    </form>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button class="button-red" type="button" pButton icon="fa-close" (click)="onClose()" label="{{'Label.Cancel' | translate}}"></button>
        </div>
    </footer> 
</p-dialog>
